[config]
schemaVersion = "0.0.1"

[general]
repository = "https://thunderstore.io"

[package]
namespace = "WaporVave"
name = "Fortnite_Default_Dance_Emote"
description = "Adds the Fortnite default dance (dance moves) as an emote"
websiteUrl = "https://github.com/WaporVave/PEAK-Fortnite-Default-Dance-Emote"
containsNsfwContent = false

[package.dependencies]
BepInEx-BepInExPack_PEAK = "5.4.2403"
WaporVave-PEAKEmoteLib = "1.0.0"

[build]
icon = "../../icon.png"
readme = "../../README.md"
outdir = "../../artifacts/thunderstore/"

[[build.copy]]
source = "../../artifacts/bin/FortniteDefaultDanceEmote/release/com.github.WaporVave.FortniteDefaultDanceEmote.dll"
target = "plugins/"

[[build.copy]]
source = "../../assets/WaporVave_fortnite_default_dance_bundle"
target = "plugins/"

[[build.copy]]
source = "../../CHANGELOG.md"
target = "/"

[[build.copy]]
source = "../../LICENSE"
target = "/"

# The following config options only apply when using TCLI to publish to Thunderstore directly:

[publish]
# See communities at:
# https://thunderstore.io/api/experimental/community/
communities = [ "peak", ]

[publish.categories]
# See categories at:
# https://thunderstore.io/api/experimental/community/peak/category/
peak = [ "mods", ]
